[client-server]
port = 3306
socket = /var/lib/mysql/mysqld.sock

[mysql_install_db]
skip-test-db
datadir = /var/lib/mysql

[mysqld]
user = mysql
skip-networking = false
bind-address = 0.0.0.0
init-file = /etc/my.cnf.d/initfile.sql
